/*=====================================
=            Layout styles            =
=====================================*/


/**
* site layout
**/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
}


@media screen and (min-width: 1367px) {
  .site-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .site-header{
    flex: 0 0 auto;
  }

  .site-content{
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 20px;
  }

  .site-footer{
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 801px) and (max-width: 1366px) {
  .site-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .site-header{
    flex: 0 0 auto;
  }

  .site-content{
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 20px;
  }

  .site-footer{
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px){
  .site-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  .site-header{
    flex: 0 0 auto;
  }

  .site-content{
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 20px;
  }

  .site-footer{
    flex: 0 0 auto;
  }
}


/**
 * Basic styling
 */
a {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, time, .md-menu {
  font-family: 'Cantarell', sans-serif !important;
  font-weight: 500;
}


body {
  font-family: 'Cantarell', sans-serif;
  font-weight: 900;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @media screen and (max-width: 640px){
    background: white;
  }
}

.inner-body {
  background-color: $white-color;
  margin: 0 auto;
  max-width: 1200px;
  opacity: .97;
}

@media screen and (min-width: 1367px) {
  .inner-body {
    -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

    z-index: -1;
  };

  .body-content {
    z-index: -1;
    padding: 20px 60px 20px 60px;
  };

  p {
    font-size: 14px;
  };
}

@media screen and (min-width: 801px) and (max-width: 1366px) {
  .inner-body {
    -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

    z-index: -1;
  };

  .body-content {
    z-index: -1;
    padding: 20px 40px 20px 40px;
  };

  p {
    font-size: 13px;
  };
}

@media screen and (min-width: 641px) and (max-width: 800px){
  .inner-body {
    -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

    z-index: -1;
  };

  .body-content {
    z-index: -1;
    padding: 20px 20px 20px 20px;
  };

  p {
    font-size: 13px;
  };
}

@media screen and (max-width: 640px){
  .body-content {
    padding: 10px 10px 10px 10px;
  };

  p {
    font-size: 12px;
  };
}


/**
 * Site header
 */
.site-header-properties {
  background-color: $white-color;
  //border-bottom: 2px solid #aaaaaa;
  -webkit-box-shadow: -3px 10px 5px -9px rgba(0,0,0,0.45);
  -moz-box-shadow: -3px 10px 5px -9px rgba(0,0,0,0.45);
  box-shadow: -3px 10px 5px -9px rgba(0,0,0,0.45);
}

.site-header-text {
  padding-top: 5px;
  text-align: center;

  h1 {
    @media screen and (min-width: 1367px) {
      font-size: 34px;
    }

    @media screen and (min-width: 801px) and (max-width: 1366px) {
      font-size: 30px;
    }

    @media screen and (min-width: 641px) and (max-width: 800px){
      font-size: 28px;
    }

    @media screen and (max-width: 640px){
      padding-left: 50px;
      font-size: 20px;
    }
  }
}

.site-description {
  padding-bottom: 10px;

  @media screen and (min-width: 1367px) {
    font-size: 13px;
    letter-spacing: 3px;
    text-indent: 6px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 13px;
    letter-spacing: 2px;
    text-indent: 4px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    font-size: 12px;
    letter-spacing: 1px;
    text-indent: 2px;
  }

  @media screen and (max-width: 640px){
    font-size: 10px;
    text-indent: 1px;
    padding-left: 50px;
  }
}

.site-header {
  border-bottom: 1px solid rgba($light-gray-color, .5);

  h1 {
    margin: 5px;
  };

  a:hover {
    h1 {
      color: red;
    }
  }

}

.btn:hover {
  color: red;
}


/***
* md styling
***/
.md-menu-properties {
  padding-left: 20px;
}

.md-fab {
  background-color: #494949 !important;

  &:hover {
    background-color: red !important;
  }
}


// home hero presentation
body.home {
  width: 100%;
  display: table;
};

.hero {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
};

.hero-inner {
  text-align: center;
  display: inline-block;
  padding: $base-spacing;

  .dot {
    padding: 5px;
    border: 1px solid $light-gray-color;
  };

  h4 {
    font-size: 14px;
    margin: .8em 0 1.2em;
    line-height: 26px;
  };

  em {
    color: $primary-color;
  };

  @media screen and (min-width: 1367px) {
    h4 {
      font-size: 15px;
      margin: .8em 0 1.2em;
      line-height: 26px;
    };
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    h4 {
      font-size: 15px;
      margin: .8em 0 1.2em;
      line-height: 25px;
    };
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    h4 {
      font-size: 14px;
      margin: .8em 0 1.2em;
      line-height: 24px;
    };
  }

  @media screen and (max-width: 640px){
    h4 {
      font-size: 13px;
      margin: .8em 0 1.2em;
      line-height: 20px;
    };
  }
}


/**
* social media icons
**/
.social {
  li {
    float: left;
    padding:5px 5px 5px 5px;
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:active,
    &:focus {
      color:red;
    }
  };

  @media screen and (min-width: 1367px) {
    min-width: 250px;
    padding-top: 35px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding-top: 5px
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding-top: 5px;;
  }

  @media screen and (max-width: 640px){
    padding-top:5px;
  }
}

.icon {
  > svg {
    display: inline-block;
    vertical-align: middle;

    @media screen and (min-width: 1367px) {
      width: 35px;
      height: 35px;
    }

    @media screen and (min-width: 801px) and (max-width: 1366px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (min-width: 641px) and (max-width: 800px){
      width: 30px;
      height: 30px;
    }

    @media screen and (max-width: 640px){
      width: 24px;
      height: 24px;
    }
  }

}

// icon colors
svg:hover #facebook-back {
  fill: red;
}

svg:hover #github-back {
  fill: red;
}

svg:hover #linkedin-back {
  fill: red;
}

svg:hover #twitter-back {
  fill: red;
}

svg:hover {
  fill: red;
}


.pagination {
  text-align: center;
  margin: 2em 0;

  li {
    padding: 0 .4em;
  }

  li, a, span {
    display: inline-block;
  }

  a, span {
    line-height: 1.2em;
    font-size: rem(12);
  }

  .btn {
    color: $base-font-color;
    border-color: rgba($light-gray-color, .8);
  }

  .btn:hover {
    color: red;
  }

  span {
    color: $medium-gray-color;
    font-style: italic;
  }
}


/***
* posts styling
***/
.post {

  h5 {
    padding-top: 10px;
  };

  a {
    border-bottom: dotted 1px black;
  };

  @media screen and (min-width: 1367px) {
    padding: 0 0 40px 0;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 0 0 30px 0;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 0 0 20px 0;
  }

  @media screen and (max-width: 640px){
    padding: 0 0 10px 0;
  }

}

.post-content-divider {
  border-left: thick solid #464646;
}

.post-date {

  @media screen and (min-width: 1367px) {
    font-size: 14px;
    min-width: 100px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 14px;
    min-width: 100px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    font-size: 12px;
    min-width: 90px;
  }

  @media screen and (max-width: 640px){
    font-size: 12px;
    min-width: 85px;
  }
}

.post-summary {

  &:hover {
    h1 {
      color: red;
    }
  };

  @media screen and (min-width: 1367px) {
    padding: 0 20px 0 20px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 0 15px 0 15px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 0 10px 0 10px;
  }

  @media screen and (max-width: 640px){
    padding: 0 5px 0 5px;
  }
}

.post-title {

  @media screen and (min-width: 1367px) {
    font-size: 20px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 18px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    font-size: 16px;
  }

  @media screen and (max-width: 640px){
    font-size: 14px;
  }
}

.bottom-padding-10 {
  padding-bottom: 10px;
}

.left-padding-10 {
  padding-left: 10px;
}

.strong {
  font-weight: 600;
}

.vertical-line {
  border-left: thick solid red;
};


/***
* projects view - home page
***/
.portfolio {

  h2 {
    border-left: thick solid red;
    padding-left: 10px;
  };


  @media screen and (min-width: 1367px) {
    h2 {
      font-size: 28px;
    };

    h3 {
      font-size: 25px;
    };

    padding: 20px 60px 20px 60px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    h2 {
      font-size: 26px;
    };

    h3 {
      font-size: 23px;
    };

    padding: 20px 40px 20px 40px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    h2 {
      font-size: 24px;
    };

    h3 {
      font-size: 21px;
    };

    padding: 20px 20px 20px 20px;
  }

  @media screen and (max-width: 640px){
    h2 {
      font-size: 22px;
    };

    h3 {
      font-size: 20px;
    };

    padding: 10px 10px 10px 10px;
  };
}

.portfolio-icon {
  font-size: 30px !important;
}

.portfolio-big-icon {
  font-size: 50px !important;
}

.portfolio-header {
  padding-bottom: 5px;
}

.portfolio-tile {
  padding: 30px 40px 30px 40px;
}

.portfolio-thumb {
  padding-bottom: 10px;
}

.extra-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.red {
  background: #ff8a80;
}


/***
* Site footer
***/
.footer-contents {
  background-color: $white-color;
  margin: 0 auto;
  max-width: 1200px;
  opacity: .97;

  @media screen and (min-width: 1367px) {
    padding: 20px 60px 20px 60px;

    -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

    z-index: -1;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 20px 40px 20px 40px;

    -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

    z-index: -1;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 0 20px 20px 20px;

    -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

    z-index: -1;
  }
}

.footer-section {
  text-align: justify;

  .header-background {
    border-left: thick solid red;
    padding-left: 10px;
  };

  a {
    &:hover {
      color: red;
    }
  };

  @media screen and (max-width: 640px){
    padding-right: 20px;
  }
}

.footer-bar {
  background-color: #535353;
  color: white;
  text-align: center;

  p {
    padding: 5px 5px 5px 5px;
  }
}


/***
* resume styling
***/
.resume {

  .sidebar {
    background-color: #333333;
    border-radius: 5px;
    color: white;
    min-width: 320px !important;

    a {
      color: white;
    };

    h1 {
      font-size: 26px;
      text-align: center;
    };

    h3 {
      font-size: 20px;
      text-align: center;
    };

    h4 {
      font-size: 18px;
    };

    h5 {
      font-size: 14px;
    };

    .bar {
      height: 5px;
      max-width: 160px;
    }

    md-progress-linear {

      height: 6px;
      padding-top: 7px !important;

      .md-container {
        height: 6px;
        border-radius: 30px;

        .md-bar {
          height: 6px;
        }

        .md-dashed:before {
          height: 6px;
        }
      }
    };

    .divider {
      padding: 0 15px 0 15px;
    }

    .sidebar-icon {
      fill: white;
    };

    .contact {
      padding: 0 25px 40px 25px;
    }

    .skills {
      padding: 0 25px 0 25px;
    }

    .interests {
      padding: 0 25px 0 25px;
    };

    .personal {
      padding: 0 25px 0 25px;
    };

    .summary {
      font-size: 14px;
      padding: 0 25px 0 25px;
      text-align: justify;
    };
  };

  .resume-thumb {
    padding-top: 40px;
    padding-bottom: 20px;
  };

  .right-padding-20 {
    padding-right: 20px;
  };

  .top-padding-15 {
    padding-top: 10px;
  };

  .red-border {
    border-left: thick solid red;
  };

  .resume-body {
    padding: 0 20px 0 20px;

    h2 {
      font-size: 18px;
    };

    h3 {
      font-size: 15px;
    };

    h4 {
      font-size: 14px;
    };

    p {
      font-size: 14px;
    };

    ul {
      font-size: 14px;
      list-style: square;
    };

    .topic {
      background-color: #f74842;
      border-radius: 5px;
      color: white;
      padding: 5px 0 5px 0;
    };

    .box {
      padding: 0 20px 20px 20px;
    };
  };
}