/*=====================================
=            Layout styles            =
=====================================*/

@import url('https://fonts.googleapis.com/css?family=Cantarell');
@import url("//cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css");


.container {
  @include outer-container;
  padding: {
    left: $small-spacing;
    right: $small-spacing;
  };
}

.card {
  background-color: $white-color;
  box-shadow: 0 2px 0 rgba($black-color, .1);
  margin: 0 0 $base-spacing;
  padding: $base-spacing $small-spacing;

  @include media($mobile-up) {
    padding: $base-spacing;
  }
}


/**
* site layout
**/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:after,
*:before{
  box-sizing: border-box;
}

.site-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.site-header{
  flex: 0 0 auto;
}

.site-content{
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 20px;
}

.site-footer{
  flex: 0 0 auto;
}


/**
 * Basic styling
 */
a {
  outline: 0 !important;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inner-body {
  background-color: $white-color;
  margin: 0 auto;
  max-width: 1200px;
  opacity: .97;

  -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

  z-index: -1;
}

.body-content {
  z-index: -1;
}

@media screen and (min-width: 1367px) {
  .body-content {
    padding: 20px 60px 20px 60px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1366px) {
  .body-content {
    padding: 20px 40px 20px 40px;
  }
}

@media screen and (min-width: 641px) and (max-width: 800px){
  .body-content {
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 640px){
  .body-content {
    padding: 10px 10px 10px 10px;
  }
}

p {
  @media screen and (min-width: 1367px) {
    font-size: 16px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 15px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px) {
    font-size: 14px;
  }

  @media screen and (max-width: 640px) {
    font-size: 13px;
  }
}

.icon {
  > svg {
    display: inline-block;
    vertical-align: middle;

    @media screen and (min-width: 1367px) {
      width: 35px;
      height: 35px;
    }

    @media screen and (min-width: 801px) and (max-width: 1366px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (min-width: 641px) and (max-width: 800px){
      width: 25px;
      height: 25px;
    }

    @media screen and (max-width: 640px){
      width: 20px;
      height: 20px;
    }
  }

}

// icon colors
svg:hover #facebook-back {
  fill: red;
}

svg:hover #github-back {
  fill: red;
}

svg:hover #linkedin-back {
  fill: red;
}

svg:hover #twitter-back {
  fill: red;
}

svg:hover {
  fill: red;
}


/**
 * Site header
 */
.site-header-properties {
  background-color: $white-color;
  //border-bottom: 2px solid #aaaaaa;
  -webkit-box-shadow: -3px 10px 5px -9px rgba(0,0,0,0.45);
  -moz-box-shadow: -3px 10px 5px -9px rgba(0,0,0,0.45);
  box-shadow: -3px 10px 5px -9px rgba(0,0,0,0.45);
}

.site-header-text {
  text-align: center;

  h1 {
    color: red;

    @media screen and (min-width: 1367px) {
      font-size: 32px;
    }

    @media screen and (min-width: 801px) and (max-width: 1366px) {
      font-size: 28px;
    }

    @media screen and (min-width: 641px) and (max-width: 800px){
      font-size: 26px;
    }

    @media screen and (max-width: 640px){
      font-size: 20px;
    }
  }
}

.site-description {
  padding-bottom: 10px;

  @media screen and (min-width: 1367px) {
    font-size: 13px;
    letter-spacing: 3px;
    text-indent: 6px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 13px;
    letter-spacing: 2px;
    text-indent: 4px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    font-size: 12px;
    letter-spacing: 1px;
    text-indent: 2px;
  }

  @media screen and (max-width: 640px){
    font-size: 10px;
    text-indent: 1px;
  }
}

.site-header {
  @extend %clearfix;
  padding: $base-spacing 0;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid rgba($light-gray-color, .5);

  h1 {
    margin: 0;
    font-weight: $font-weight-normal;

    span {
      color: $primary-color;
    }
  }

  .navbar {
    float: right;
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:focus,
    &:active {
      color: red;
    }
  }

  @include media($mobile) {
    .container {
      padding-left: $base-spacing;
      padding-right: $base-spacing;
    }
  }
}

.sliding-panel-button {
  float: right;
  @extend .btn;
  padding: 5px;
  margin: 0 $big-spacing 0 0;

  span {
    width: 30px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: $white-color;
    margin: 3px 0;
  }

  @include media($mobile-up) {
    display: none;
  }
}

@include media($mobile) {
  $sliding-panel-width: 220px;

  .sliding-panel-content {
    border-top: 5px solid $primary-color;
    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(-100%));
    @include transition(all 0.25s linear);
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;

    &.is-visible {
      @include transform(translateX(0));
    }
  }

  .sliding-panel-fade-screen {
    @include position(fixed, 0 0 0 0);
    @include transition;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.is-visible {
      opacity: 0.4;
      visibility: visible;
    }
  }

  .sliding-panel-close {
    cursor: pointer;
  }
}

.btn:hover {
  color: red;
}


/***
* md styling
***/
.md-menu-properties {
  padding-left: 20px;
}

.md-fab {
  background-color: #494949 !important;

  &:hover {
    background-color: red !important;
  }
}

.md-toolbar-header {
  font-weight: bold !important;
}

// home hero presentation
body.home {
  width: 100%;
  display: table;
}

.hero {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.hero-inner {
  text-align: center;
  display: inline-block;
  padding: $base-spacing;

  .dot {
    padding: 5px;
    border: 1px solid $light-gray-color;
  }

  h1 {
    margin-top: .7em;
    font-size: rem(40);
  }

  h3 {
    font-size: rem(20);
    margin: .8em 0 1.2em;

    @include media($tablet-up) {
      font-size: rem(24);
    }
  }

  h3, em {
    font-weight: $font-weight-light;
  }

  h4 {
    font-size: rem(14);
    margin: .8em 0 1.2em;
    line-height: 26px;

    @include media($tablet-up) {
      font-size: rem(15);
    }
  }

  h4, em {
    font-weight: 200;
  }

  em {
    color: $primary-color;
  }

  strong {
    font-weight: $font-weight-bold;
  }
}

.social {
  @extend %clearfix;
  padding: 5px 20px 5px 5px;

  li {
    float: left;
    padding:5px 5px 5px 5px;
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:active,
    &:focus {
      color:red;
    }
  };

  @media screen and (min-width: 1367px) {
    min-width: 300px;
    padding-top: 40px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding-top: 30px
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding-top: 20px;;
  }

  @media screen and (max-width: 640px){
    padding-top:10px;
  }
}


.pagination {
  @extend %clearfix;
  text-align: center;
  margin: 2em 0;

  li {
    padding: 0 .4em;
  }

  li, a, span {
    display: inline-block;
  }

  a, span {
    line-height: 1.2em;
    font-size: rem(12);
  }

  .btn {
    color: $base-font-color;
    border-color: rgba($light-gray-color, .8);
  }

  .btn:hover {
    color: red;
  }

  span {
    color: $medium-gray-color;
    font-style: italic;
  }
}


/***
* posts styling
***/

.post-list {

}

.post {

  a {
    border-bottom: dotted 1px black;

  };

  @media screen and (min-width: 1367px) {
    padding: 0 0 40px 0;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 0 0 30px 0;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 0 0 20px 0;
  }

  @media screen and (max-width: 640px){
    padding: 0 0 10px 0;
  }

}

.post-content-divider {
  border-left: thick solid #464646;
}

.post-date {

  @media screen and (min-width: 1367px) {
    font-size: 14px;
    min-width: 100px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 14px;
    min-width: 100px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    font-size: 12px;
    min-width: 90px;
  }

  @media screen and (max-width: 640px){
    font-size: 12px;
    min-width: 85px;
  }
}

.post-summary {
  &:hover {
    h1 {
      color: red;
    }
  };

  @media screen and (min-width: 1367px) {
    padding: 0 20px 0 20px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 0 15px 0 15px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 0 10px 0 10px;
  }

  @media screen and (max-width: 640px){
    padding: 0 5px 0 5px;
  }
}

.post-title {

  @media screen and (min-width: 1367px) {
    font-size: 20px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    font-size: 18px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    font-size: 16px;
  }

  @media screen and (max-width: 640px){
    font-size: 14px;
  }
}

.bottom-padding-10 {
  padding-bottom: 10px;
}

.left-padding-10 {
  padding-left: 10px;
}

.strong {
  font-weight: 600;
}

.vertical-line {
  border-left: thick solid red;
};


/* Site footer */
.footer-container {
  padding-top: 20px;
}


.footer-contents {
  background-color: $white-color;
  margin: 0 auto;
  max-width: 1200px;
  opacity: .97;

  -webkit-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 14px -3px rgba(0,0,0,0.75);

  z-index: -1;

  @media screen and (min-width: 1367px) {
    padding: 20px 60px 20px 60px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 20px 40px 20px 40px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 20px 20px 20px 20px;
  }

  @media screen and (max-width: 640px){
    padding: 10px 10px 10px 10px;
  }
}

.footer-section {
  float: left;
  text-align: justify;

  .header-background {
    border-left: thick solid red;
    padding-left: 10px;
  };

  a {
    &:hover {
      color: red;
    }
  };

  @media screen and (min-width: 1367px) {
    padding: 20px 20px 20px 20px;
  }

  @media screen and (min-width: 801px) and (max-width: 1366px) {
    padding: 20px 20px 20px 20px;
  }

  @media screen and (min-width: 641px) and (max-width: 800px){
    padding: 10px 10px 10px 10px;
  }

  @media screen and (max-width: 640px){
    padding: 10px 10px 10px 10px;
  }
}

.footer-bar {
  background-color: #535353;
  color: white;
  text-align: center;

  p {
    padding: 5px 5px 5px 5px;
  }
}