<!DOCTYPE html>
<html>
  {% include head.html %}

  <body ng-app="ngModule" ng-controller="ngController" ng-cloak>
  {% include google_analytics.html %}

  <div>
    <div class="site-wrapper">
      <div class="site-header">
        {% include header.html %}
      </div>

      <div class="site-content">
        <div class="inner-body">
          <div class="body-content">
            {{ content }}
          </div>
        </div>

        <br>

        <div class="inner-body">
          <div class="portfolio">
            <div class="extra-padding">
              <div class="portfolio-header">
                <h2>PORTFOLIO</h2>
              </div>

              <div>
                <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
                  {% for post in site.posts %}
                  {% if post.category == 'project' %}

                  <md-grid-tile class="red" md-rowspan="2" md-colspan="2">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      <div class="portfolio-tile">
                        <div layout="row">
                          <h3>{{post.title}}</h3>
                          <div flex></div>

                          <div>
                            <div flex></div>
                            <md-icon class="portfolio-icon">open_in_browser</md-icon>
                            <div flex></div>
                          </div>
                        </div>

                        <p>
                          {{post.summary}}
                        </p>

                        <img class="portfolio-thumb" src="{{post.image}}">
                      </div>
                    </a>

                    <md-grid-tile-footer>
                      <p>&nbsp;&nbsp;{{post.tags}}</p>
                    </md-grid-tile-footer>
                  </md-grid-tile>

                  {% endif %}
                  {% endfor %}
                </md-grid-list>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="inner-body">
          <div class="portfolio">
            <div class="extra-padding">
              <div class="portfolio-header">
                <h2>LATEST POSTS</h2>
              </div>

              <div>
                <section class="post-list">
                  {% for post in site.categories.post limit:3 %}
                    {% include article.html %}
                  {% endfor %}
                </section>
              </div>

              <div layout="row">
                <div flex></div>
                <a href="{{site.url}}{{site.baseurl}}/blog">
                  <md-icon class="portfolio-big-icon">more_horiz</md-icon>
                </a>
                <div flex></div>
              </div>
            </div>
          </div>
        </div>

        {% include footer.html %}
      </div>
    </div>
  </div>
  </body>
</html>
