---
layout: plasma-desktop
---

{% include lang.html %}

<div class="folder-view list-view" id="categories-list">
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    <div class="file-item category-item" 
         onclick="window.location.href='{{ '/categories/' | append: category[0] | slugify | relative_url }}'">
      <div class="file-icon">
        <i class="fas fa-folder"></i>
      </div>
      <div class="file-details">
        <div class="file-label">{{ category[0] }}</div>
        <div class="file-description">{{ category[1].size }} posts in this category</div>
        <div class="file-meta">
          <span class="date">Last updated: {{ category[1] | map: 'date' | sort | last | date: "%B %d, %Y" }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>