---
layout: plasma-desktop
---

{% include lang.html %}

<div class="folder-view list-view" id="tags-list">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    <div class="file-item tag-item" 
         onclick="window.location.href='{{ '/tags/' | append: tag[0] | slugify | relative_url }}'">
      <div class="file-icon">
        <i class="fas fa-tag"></i>
      </div>
      <div class="file-details">
        <div class="file-label">#{{ tag[0] }}</div>
        <div class="file-description">{{ tag[1].size }} posts tagged with this</div>
        <div class="file-meta">
          <span class="date">{{ tag[1].size }} posts</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>